fastapi 
uvicorn
pandas 
numpy 
scikit-learn 
xgboost 
shap 
matplotlib 
seaborn 
torch 
faiss-cpu 
python-dotenv
google-genai
react
react-dom
vite
tailwindcss
postcss
autoprefixer
clsx
tailwind-merge
zustand
react-query
react-leaflet
axios
recharts
leaflet
react-leaflet
framer-motion
lucide-react
